@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.background{
    background-image: url('../src/Assets/Cooking-Wallpapers-HD-Free-Download.jpg.crdownload');
    background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  min-height: 100vh; 
}


.container {
  padding: 20px;
}







    
